<a href='/api/products' style="float: right;">GO BACK</a>
<form action='/api/products' method='POST'>
  <p><input id='title' name='title' type='text' placeholder='title' /></p>
  <p><input id='description' name='description' type='text' placeholder='description' /></p>
  <p><input id='code' name='code' type='text' placeholder='code' /></p>
  <p><input id='price' name='price' type='number' placeholder='price' /></p>
  <p><input id='stock' name='stock' type='number' placeholder='stock' /></p>
  <p><input id='category' name='category' type='text' placeholder='category' /></p>
  <p><input type='submit' value='CREATE' /></p>
</form>
