<div>
  <a href='/api/auth/register' style="float:right;">Sign Up</a>
</div>
<form action='/api/auth/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' value="{{email}}"/>
  <input id='password' name='password' type='password' placeholder='password' />
  <input type='submit' value='LOGIN' />
</form>
