<div>Enter your email to recover password</div>
<form action='/api/recovers/email' method='POST'>
  <input id='email' name='email' type='email' placeholder='Enter your email' />
  <input type='submit' value='Send email to recover password!' />
</form>
