<form action='/api/auth/register' method='POST'>
  <p><input id='email' name='email' type='text' placeholder='email' /></p>
  <p><input id='firstName' name='firstName' type='text' placeholder='firstName' /></p>
  <p><input id='lastName' name='lastName' type='text' placeholder='lastName' /></p>
  <p><input id='age' name='age' type='number' placeholder='age' /></p>
  <p><input id='password' name='password' type='password' placeholder='password' /></p>
  <p><input type='submit' value='REGISTRAR' /></p>
</form>
<a href='/api/auth/login'>ya tengo cuenta che!</a>