@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column; /*row;*/
  max-width: 700px;
  padding: 32px;
  margin: 0 auto;
  /* border: 1px solid #eee; */
  /* box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06); */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}

/* div {
  width: 50%;
} */

ol { padding-left: 50px; }
li {
  color: #4F4F4F;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

li::before {
  content: '';
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #ddd;
  position: absolute;
  top: -10px;
  left: -46px;
}

strong { color: #292929; }

ol.alternating-colors li:nth-child(odd):before { border-color: #87e3d8; }

ol.alternating-colors li:nth-child(even):before { border-color: #dac69b; }

#error-msg {
  color: red;
}

#success-msg, #prod-deleted-msg {
  color: green;
}

.deleteBtn {
  color: red;
}

.prodOwner {
  font-size: 12px;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
